In [9]:
import pandas as pd
import numpy as np
import time
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from bs4 import BeautifulSoup

service = Service(executable_path='chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=service)


years = list(range(1977,2023))

url_s = " https://www.basketball-reference.com/leagues/NBA_{}_per_game.html "
for year in years:
    url = url_s.format(year)

    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(2)
    with open("players/{}.html".format(year),"w+",encoding="utf-8") as f:
            f.write(driver.page_source)

In [12]:
### Parsing using BeautifulSoup
from bs4 import BeautifulSoup
dfs = []
for year in years:
    with open("players/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find_all(id="per_game_stats")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [13]:
players = pd.concat(dfs)

In [14]:
players.to_csv("players.csv")

In [4]:
import requests
service = Service(executable_path='chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=service)
years = list(range(1977,2023))

team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"
driver = webdriver.Chrome(service=service)
for year in years:
    url = team_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(2)
    with open("teams/{}.html".format(year),"w+",encoding="utf-8") as f:
            f.write(driver.page_source)

In [5]:
dfs = []
for year in years:
    with open("teams/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    e_table = soup.find_all(id="divs_standings_E")[0]
    e_df = pd.read_html(str(e_table))[0]
    e_df["Year"] = year
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    dfs.append(e_df)
    
    w_table = soup.find_all(id="divs_standings_W")[0]
    w_df = pd.read_html(str(w_table))[0]
    w_df["Year"] = year
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    dfs.append(w_df)

In [7]:
teams = pd.concat(dfs)

teams.to_csv("teams.csv")

In [9]:
import pandas as pd 


mvps = pd.read_csv("mvp_1976on.csv")

In [10]:
mvps = mvps[["Player","Year","Pts Won","Pts Max","Share"]]

mvps

                  Player  Year  Pts Won  Pts Max  Share
0    Kareem Abdul-Jabbar  1977    159.0      247  0.644
1            Bill Walton  1977     29.0      247  0.117
2          Pete Maravich  1977     15.0      247  0.061
3             Bob Lanier  1977     11.0      247  0.045
4          Julius Erving  1977      7.0      247  0.028
..                   ...   ...      ...      ...    ...
730        Stephen Curry  2022      4.0     1000  0.004
731           Chris Paul  2022      2.0     1000  0.002
732        DeMar DeRozan  2022      1.0     1000  0.001
733         Kevin Durant  2022      1.0     1000  0.001
734         LeBron James  2022      1.0     1000  0.001

[735 rows x 5 columns]

In [11]:
players = pd.read_csv("players.csv")

players

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,0,1,Zaid Abdul-Aziz,C,30,BUF,22,NaN,8.9,1.1,...,1.9,2.2,4.1,0.3,0.1,0.4,NaN,1.0,3.8,1977
1,1,2,Kareem Abdul-Jabbar*,C,29,LAL,82,NaN,36.8,10.8,...,3.2,10.0,13.3,3.9,1.2,3.2,NaN,3.2,26.2,1977
2,2,3,Tom Abernethy,SF,22,LAL,70,NaN,19.7,2.4,...,1.6,2.5,4.2,1.4,0.7,0.1,NaN,1.7,6.3,1977
3,3,4,Alvan Adams,C,22,PHO,72,NaN,31.6,7.3,...,2.5,6.6,9.1,4.5,1.3,1.2,NaN,3.6,18.0,1977
4,4,5,Don Adams,SF,29,BUF,77,NaN,22.2,2.8,...,1.7,3.1,4.8,1.9,1.0,0.2,NaN,2.6,7.3,1977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24424,836,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2022
24425,837,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2022
24426,838,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2022
24427,839,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2022
24428,840,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2022

In [12]:
del players["Unnamed: 0"]
del players["Rk"]

In [13]:
players

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Zaid Abdul-Aziz,C,30,BUF,22,NaN,8.9,1.1,3.4,.338,...,1.9,2.2,4.1,0.3,0.1,0.4,NaN,1.0,3.8,1977
1,Kareem Abdul-Jabbar*,C,29,LAL,82,NaN,36.8,10.8,18.7,.579,...,3.2,10.0,13.3,3.9,1.2,3.2,NaN,3.2,26.2,1977
2,Tom Abernethy,SF,22,LAL,70,NaN,19.7,2.4,5.0,.484,...,1.6,2.5,4.2,1.4,0.7,0.1,NaN,1.7,6.3,1977
3,Alvan Adams,C,22,PHO,72,NaN,31.6,7.3,15.3,.474,...,2.5,6.6,9.1,4.5,1.3,1.2,NaN,3.6,18.0,1977
4,Don Adams,SF,29,BUF,77,NaN,22.2,2.8,6.8,.411,...,1.7,3.1,4.8,1.9,1.0,0.2,NaN,2.6,7.3,1977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24424,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,.465,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2022
24425,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,.460,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2022
24426,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,.526,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2022
24427,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,.567,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2022
24428,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,.626,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2022

In [14]:
players["Player"] = players["Player"].str.replace("*","", regex=False)

In [15]:
def single_team(df):
    if df.shape[0]==1:
        return df
    else:
        row = df[df["Tm"]=="TOT"]
        row["Tm"] = df.iloc[-1,:]["Tm"]
        return row

players = players.groupby(["Player", "Year"]).apply(single_team)

In [16]:

players.index = players.index.droplevel()

In [17]:

players.index = players.index.droplevel()

In [18]:
players.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
3501,A.C. Green,PF,22,LAL,82,1,18.8,2.5,4.7,.539,...,2.0,2.7,4.6,0.7,0.6,0.6,1.2,2.8,6.4,1986
3900,A.C. Green,PF,23,LAL,79,72,28.4,4.0,7.4,.538,...,2.7,5.1,7.8,1.1,0.9,1.0,1.3,2.2,10.8,1987
4302,A.C. Green,PF,24,LAL,82,64,32.1,3.9,7.8,.503,...,3.0,5.7,8.7,1.1,1.1,0.5,1.5,2.5,11.4,1988
4751,A.C. Green,PF,25,LAL,82,82,30.6,4.9,9.2,.529,...,3.1,5.9,9.0,1.3,1.1,0.7,1.5,2.1,13.3,1989
5213,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,3.2,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9,1990

In [19]:

combined = players.merge(mvps, how="outer", on=["Player", "Year"])

In [20]:

combined[combined["Pts Won"] > 0]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
165,Adrian Dantley,SF,25,UTA,80,NaN,42.7,11.4,20.3,.559,...,4.0,1.4,0.2,3.5,3.1,30.7,1981,15.0,690.0,0.022
166,Adrian Dantley,SF,26,UTA,81,81,39.8,11.2,19.6,.570,...,4.0,1.2,0.2,3.7,3.1,30.3,1982,7.0,690.0,0.010
168,Adrian Dantley,SF,28,UTA,79,79,37.8,10.2,18.2,.558,...,3.9,0.8,0.1,3.3,2.5,30.6,1984,88.0,760.0,0.116
170,Adrian Dantley,SF,30,UTA,76,75,36.1,10.8,19.1,.563,...,3.5,0.8,0.1,3.0,2.7,29.8,1986,2.0,780.0,0.003
172,Adrian Dantley,SF,32,DET,69,50,31.1,6.4,12.5,.514,...,2.5,0.6,0.1,2.0,2.1,20.0,1988,1.0,800.0,0.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18912,World B. Free,SG,30,CLE,75,71,31.7,8.3,18.8,.445,...,3.0,1.3,0.1,2.1,2.9,22.3,1984,1.0,760.0,0.001
18913,World B. Free,SG,31,CLE,71,50,31.7,8.6,18.7,.459,...,4.5,1.1,0.2,2.0,2.3,22.5,1985,2.0,780.0,0.003
18949,Yao Ming,C,23,HOU,82,82,32.8,6.5,12.5,.522,...,1.5,0.3,1.9,2.5,3.3,17.5,2004,1.0,1230.0,0.001
18954,Yao Ming,C,28,HOU,77,77,33.6,7.4,13.4,.548,...,1.8,0.4,1.9,3.0,3.3,19.7,2009,1.0,1210.0,0.001
19102,George Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1981,3.0,690.0,0.004

In [21]:
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

In [23]:

teams = pd.read_csv("teams.csv")

In [24]:
teams

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,50,32,.610,—,110.2,106.2,3.78,1977,Philadelphia 76ers*
1,1,44,38,.537,6.0,104.5,106.5,-1.90,1977,Boston Celtics*
2,2,40,42,.488,10.0,108.6,108.6,0.01,1977,New York Knicks
3,3,30,52,.366,20.0,105.0,109.5,-4.28,1977,Buffalo Braves
4,4,22,60,.268,28.0,95.9,102.7,-6.54,1977,New York Nets
...,...,...,...,...,...,...,...,...,...,...
1429,13,56,26,.683,—,115.6,109.9,5.37,2022,Memphis Grizzlies*
1430,14,52,30,.634,4.0,108.0,104.7,3.12,2022,Dallas Mavericks*
1431,15,36,46,.439,20.0,109.3,110.3,-0.84,2022,New Orleans Pelicans*
1432,16,34,48,.415,22.0,113.2,113.0,0.02,2022,San Antonio Spurs
1433,17,20,62,.244,36.0,109.7,118.2,-8.26,2022,Houston Rockets

In [25]:

teams = teams[~teams["W"].str.contains("Division")].copy()

In [26]:
teams["Team"] = teams["Team"].str.replace("*", "", regex=False)

In [27]:
sorted(teams["Team"].unique())

['Atlanta Hawks',
 'Boston Celtics',
 'Brooklyn Nets',
 'Buffalo Braves',
 'Charlotte Bobcats',
 'Charlotte Hornets',
 'Chicago Bulls',
 'Cleveland Cavaliers',
 'Dallas Mavericks',
 'Denver Nuggets',
 'Detroit Pistons',
 'Golden State Warriors',
 'Houston Rockets',
 'Indiana Pacers',
 'Kansas City Kings',
 'Los Angeles Clippers',
 'Los Angeles Lakers',
 'Memphis Grizzlies',
 'Miami Heat',
 'Milwaukee Bucks',
 'Minnesota Timberwolves',
 'New Jersey Nets',
 'New Orleans Hornets',
 'New Orleans Jazz',
 'New Orleans Pelicans',
 'New Orleans/Oklahoma City Hornets',
 'New York Knicks',
 'New York Nets',
 'Oklahoma City Thunder',
 'Orlando Magic',
 'Philadelphia 76ers',
 'Phoenix Suns',
 'Portland Trail Blazers',
 'Sacramento Kings',
 'San Antonio Spurs',
 'San Diego Clippers',
 'Seattle SuperSonics',
 'Toronto Raptors',
 'Utah Jazz',
 'Vancouver Grizzlies',
 'Washington Bullets',
 'Washington Wizards']

In [32]:
combined.info()
# sorted(combined["Tm"].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19103 entries, 0 to 19102
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   19103 non-null  object
 1   Pos      19102 non-null  object
 2   Age      19102 non-null  object
 3   Tm       19102 non-null  object
 4   G        19102 non-null  object
 5   GS       17726 non-null  object
 6   MP       19102 non-null  object
 7   FG       19102 non-null  object
 8   FGA      19102 non-null  object
 9   FG%      19037 non-null  object
 10  3P       18244 non-null  object
 11  3PA      18244 non-null  object
 12  3P%      15505 non-null  object
 13  2P       19102 non-null  object
 14  2PA      19102 non-null  object
 15  2P%      18994 non-null  object
 16  eFG%     19037 non-null  object
 17  FT       19102 non-null  object
 18  FTA      19102 non-null  object
 19  FT%      18502 non-null  object
 20  ORB      19102 non-null  object
 21  DRB      19102 non-null  object
 22  TRB      19102 non-null  object
 23  AST      19102 non-null  object
 24  STL      19102 non-null  object
 25  BLK      19102 non-null  object
 26  TOV      18807 non-null  object
 27  PF       19102 non-null  object
 28  PTS      19102 non-null  object
 29  Year     19103 non-null  int64
 30  Pts Won  19103 non-null  float64
 31  Pts Max  19103 non-null  float64
 32  Share    19103 non-null  float64
dtypes: float64(3), int64(1), object(29)
memory usage: 5.0+ MB